.buy-button {
  background-color: #1e1f20;
  border: #1e1f20 solid 1px;
  border-radius: 20px;
  width: 150px;
  color: aliceblue;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  text-align: center;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #333;
  border-color: #333;
}

.buy-button:active {
  background-color: #333;
  border-color: #333;
  transform: translateX(3px);
}