.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 140px;
  padding: 6px;
  border: #000000 solid 1px;
  border-radius: 16px;
  background-color: #383838;
  color: aliceblue;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #212121;
}

.buy-button:active {
  transform: scale(0.9);
}

